.idea/*
/web/bundles/
/web/compiled/*
/web/css/*
/web/js/*
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/build/
#/vendor/
/bin/
/composer.phar
