<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
        {% block global_styles %}
            {% stylesheets
                'public/css/normalize-7.0.0.css'
                'public/css/global.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        {% block page_styles %}{% endblock %}
    {% endblock %}
    {% block global_scripts %}
        {% javascripts
            'public/js/jquery-3.2.1.min.js'
            'public/js/global.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block header %}
        {% include 'MaryWebBundle::header.html.twig' %}
    {% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}
        {% include 'MaryWebBundle::footer.html.twig' %}
    {% endblock %}
</div>
{% block page_scripts %}{% endblock %}
</body>
</html>