body {
    /*background-image: url('/public/image/bg.png');*/
    font-family: 'microsoft yahei';
    font-size: 14px;
}

.header, .footer {
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

.form-errors {
    color: #f00;
}