{% extends 'MaryWebBundle:Form:layout.html.twig' %}

{% block title %}{{ 'Config'|trans}} - {{ parent() }}{% endblock %}

{% block main %}
    <p>Symfony2 Configuration</p>
    <p>{{ getKernelEnv() }}</p>
{% endblock %}